.freeDay{
    float: right;
}

.rasp{
    /*clear: both;*/
    width: 700px;
}
.rasp td{
    border: 1px solid #000;
}
.sant{
    margin: 0;
    cursor: pointer;
}
.weight{
    font-weight: bold;
}

/*block tune*/
.tune .input_prist .add{
    border: 1px solid #666;
    cursor: pointer;
    text-align: center;
    width: 20px;
}
.tune .input_prist .del{
    cursor: pointer;
    color: red;
}
.tune .input_prist input{
    margin-bottom: 15px;
}
.input_prist_d,.input_prist_s{
    width: 800px;
}
.data-act{
    margin-left:400px;
}
.data-novalid{
    margin-left: 80px;
}
.dweek{
    margin-left: 10px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
}
.dweek.novalid{
    border: 2px solid red;
}
.dweek.act{
    border: 2px solid green;
}