.freeDay{
    float: right;
}

.rasp{
    /*clear: both;*/
    width: 700px;
}
.rasp td{
    border: 1px solid #000;
}
.sant{
    margin: 0;
    cursor: pointer;
}
.weight{
    font-weight: bold;
}

/*block tune*/
.tune .input_prist .add{
    border: 1px solid #666;
    cursor: pointer;
    text-align: center;
    width: 20px;
}
.tune .input_prist .del{
    cursor: pointer;
    color: red;
}
.input_prist_d,.input_prist_s{
    width: 200px;
}
